@using RichTextEditor.Models
@model RichTextEditorViewModel
@{
    ViewBag.Title = "Power Point Image Generator";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <hr />

                <div class="form-group">

                    <label class="control-label">Title </label>
                    <div class="float-left">
                        <div class="input-group">
                            @Html.TextAreaFor(m => m.Title, new { rows = "20", style = "resize:none;width:400px;", placeholder = Html.DisplayNameFor(m => m.Title), @class = "form-control input-lg textarea-editor" })
                        </div>
                    </div>
                    <label class="control-label">Text </label>
                    <div class="float-left">
                        <div class="input-group">
                            @Html.TextAreaFor(m => m.Message, new { rows = "20", style = "resize:none;width:400px;", placeholder = Html.DisplayNameFor(m => m.Message), @class = "form-control input-lg textarea-editor" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="float-left">
                        <input type="submit" value="Generate Images" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<hr />

<div>
    @using (Html.BeginForm("GeneratePowerPoint", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    <div class="container imageWrapper">
        <div class="row">
            @for (int i = 0; i < Model.ImagePaths.Count; i++)
            {
                <div class="col-sm cardStyle">
                    <img class="card-img-top" style="width:200px; height:200px;" src="@Url.Content("~/images/" + Model.ImagePaths[i])" alt="Card image cap"><br />
                    <input type="checkbox" name="imageCheckBox" id="~/images/@Model.ImagePaths[i]" value="~/images/@Model.ImagePaths[i]" style="margin-bottom:15px;" />
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="float-left">
            <input type="submit" value="Generate PowerPoint" class="btn btn-default" />
        </div>
    </div>
    }
</div>

@section Scripts
{
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
    @Scripts.Render("~/bundles/Script-custom-editor")

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">

}
